*
{

    margin:0;
    padding:0;
    font-family: Arial;
    line-height: 25px;
    text-align: left;
}


.brief h1
{
    border-left: 10px #FFDF00 solid;
    padding-left: 15px;

} 

.text
{
    position: relative;
    bottom: 20px;
    padding-left: 20px;
}
.text p
{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
}
.brief img
{
    width: 740px;
    position: relative;
    bottom: 70px;
}
.take
{
    width: 90%;
}

section
{
    padding: 20px;
}

.logo img
{
    position: absolute;
}
img
{
    width: 50px;
}

nav
{
    width: 80%;
    overflow: auto;
    padding-left: 60px;
}

nav ul
{
    list-style: none;
}


nav li
{
    float: left;
}

nav a
{

  display: block;
  padding: 15px 20px; 
  text-align: center;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  position: relative;
  font-size: 17px;
}

nav a:after
{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #FFDF00;
    position: absolute;
    bottom: 6px;
    left: 8%;
}

nav a:hover:after
{
    width: 80%;
} 

hr
{
    margin: 10px;
    width: 103%;
    position: relative;
    right: 30px;
}
.footline
{
    margin: 10px;
    width: 103%;
    position: relative;
    right: 30px;
}
.content
{
    padding-left: 35px;
}
h1
{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 30px;

}
.content h3
{
    font-size:20px;
    padding: 10px 0 10px 5px; 
}

.content p, pre
{
    padding: 5px 0 5px 20px;
}

.help
{
    padding-left:35px;
}

.brief
{
    padding-left: 10px;
}
strong
{
    font-size: 25px;
}

.solution
{
    margin: 50px;
}
.solution h2
{
    padding-bottom: 10px;
}

.solution ul
{
    padding-left: 30px;
    list-style: none;
}

.solution ul li::before 
{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color:#FFDF00; /* Change the color */
    font-weight: bolder; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; 
}

.help
{
    background-color: black;
    padding: 10px 25px;
    color: white;
  
}

.new{
    /* border-right: 6px solid green; */
    height: 500px;
    margin:20px;
    background-color: black;
    padding:10px;
    color: white;
}

.foot
{
    background-color: black;
}

.down
{
    padding-top:10px;
    position: relative;
    left: 80px;
}
.faqs
{
    padding-top: 10px;
    list-style: none;
}
.faqs li
{
    border-bottom: 1px solid #FFDF00;   
    padding: 5px 0 10px;
}
.faqs li a
{
    text-decoration: none;
    color: white;
   
}
.second
{
    border-left: 3px solid #FFDF00;
    padding-left: 20px;
    position: relative;
    left: 350px;
}

.second p
{
    width: 60%;
}

.last
{
    margin: 20px;
    padding: 10px
}

.last ul
{
    list-style: none;
}
.last li a
{
    color: gray;
    text-decoration: none;

}

.last td
{
    padding: 10px 160px;

}